body{
  background-color: white;
}
#road{
  border-bottom: 7px dotted black;
}
#runner{
  background:url('http://thewebivore.com/demos/collie/deer-sprite.png');
  width: 1956px;
  height:456px;
  animation: walk 1s steps(8) infinite,
            forward 5s linear infinite;
}
@keyframes walk {
  0%{
    background-position: 0px;
  }
  100%{
    background-position: 1956px;
  }
  @keyframes forward {
    0%{
      transform: translateX(-100PX);
    }
    100%{
      transform: translateX(1200PX);
    }
  }

}
