
body{
  background:linear-gradient(141deg,#ccc 25%, #eee 40%,#ddd 55%);
  color: #555;
  overflow:hidden;
  -webkit-persective:1000;
  -webkit-transform:translate3d(0,0,0);
}
.text1{
  font-family: 'Pangolin';
  font-weight: 300;
  font-size: 32px;
  height: 100vh;
  position:relative;
  animation: move1 8s 0s linear infinite;
  margin-left:100px;
}

@keyframes move1 {
  0%{
    left: 100px;top: 100px
  }
  33%{
  	left:1000px;top:700px
  }

  66%{
  	left:1000px;top:100px
  }
  100%{
  	left:100px;top:700px
  }
}
